

html
{
	margin:0;
}
body
{
	background-color: #F8F8F8;
	margin:0;
	height: 105vh;
}

.row
{
	padding: 0% 12% 0% 12%;
}

.cover
{
	height: 25vh;
	line-height: 35vh;
	text-align: center;
}

.column
{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: black;
	float: left;

	width: calc(31.33% - 6px);
	height: 70vh;
	margin: 1%;

	background-color: white;
	border-radius: 12px;
	border: 1px solid #FCA311;
	position: relative;
}

.logo
{
	margin: 1vh;
	margin-left: 5vw;
	height: 5vh;
}

.logo:hover
{
	cursor: pointer;
}


.button
{
	background-color: #FCA311;
	background-color: none;
	background-size: 100%;

	font-family: 'Poppins', sans-serif;
	color:  #14213D;
	font-weight: 700;
	font-size: 12pt;

	border-radius: 2vh;

	height: 9vh;
	line-height: 9vh;

	position: absolute;
	bottom: 5vh;
	width: 70%;
	margin-left:15%;
	margin-right:15%;

	text-align: center;

	border: 2px solid #FCA311;
	transition-duration: .3s;
}

.button:hover
{
	background-color: rgba(0, 0, 0, 0);
	transition-duration: .3s;
	transform: scale(1.04);
	cursor: pointer;

}

.smallFont
{
	font-size: 14px;
	font-weight: 400;
}

h1
{
	font-family: 'Martel', serif;
	font-weight: 600;
	font-size: 50px;
	color: #14213D;
	margin: 0;
	padding: 0px;
}

h2
{
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 40pt;
	padding: 0px;
	color: #FCA311;
	margin: 0;
	margin-left: 15%;
}

h3
{
	font-size: 12pt;
	margin-left: 15%;
	font-family: 'Martel', serif;
	font-weight: 800;
}
h4 li
{
	margin-top: 3%;
	font-size: 12pt;
	text-align: left;
	margin-left: 15%;
	color: #14213D;
	font-weight: 400;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
