/* updated html!!*/

body
{
	margin: 0;
	background-color: white;
}

.mainSection
{
	margin:0;

	margin: auto;
	margin-top: 200px;
	color: white;
	text-align: center;
	overflow: hidden;

	margin: 0;

	background-image: url("background.jpg");
	background-blend-mode: luminosity;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	background-size: cover;

	height: 90vh;
}

.about
{
	color: black;
}

.button {
	background-color: #FCA311;
	background-size: 100%;


	font-family: 'Poppins', sans-serif;
	color:  white;
	font-weight: 400;
	font-size: 16pt;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 2vh;
	margin-left: 40vw;
	margin-right: 40vw;
	width: 20vw;
	height: 9vh;

	border: 2px solid #FCA311;
	transition-duration: .3s;
}


.button:hover
{
	cursor: pointer;
	background-color: rgba(201, 76, 76, 0);
	border-color: #ffffff;
	transform: scale(1.04);
	transition-duration: .2s;
}

.logo
{
	margin: 1.5vh;
	margin-left: 5vw;
	height: 5vh;
}

.logo:hover
{
	cursor: pointer;
}

.roundImage
{
	border-radius: 50%;
}


.ourTeam
{
	text-align: center;
	background-color: #14213D;
	height: 90vh;
}

.column20
{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 30pt;
	text-align: center;
	float: left;

	width: 14%;
	height: 30vh;
	padding: 3%;
}

.row
{
	padding: 0% 12% 0% 12%;
	border-radius: 10px;
	margin-top: 0
	margin-bottom: 0;
}
.cover
{
	height: 50vh;
	line-height: 50vh
}

.column70
{
	width: 70%;
	height: 30vh;
	padding: 3%;
	float: left;
}

.column30
{
	width: 30%;
	height: 30vw;
	padding: 3%;
	float: left;
}

h1
{
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 150px;
	margin: 5px;
	padding: 0;
}


h2
{
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 20pt;
	margin: 5px;
	padding: 0;
	color: #E67E22;
}

h3
{
	font-family: 'Martel', serif;
	font-weight: 500;
	font-size: 50px;
	color: white;
}
h4
{
	font-family: 'Poppins', serif;
	font-weight: 300;
	font-size: 12pt;
	color:  #EDEDED;
	margin: 3%;
	margin-top: 2%;
}
h5
{
	color: #14213D;
	font-family: 'Martel', serif;
	font-weight: 500;
	font-size: 22pt;
	color: black;
	margin: 10vw;
	line-height: 42pt;
}
h6
{
	font-family: 'Martel', serif;
	font-weight: 500;
	font-size: 30pt;
	color: #EDEDED;
	padding-top: 20vh;
	margin: 5vh	;
}

.bold
{
	color: #FCA311;
	font-family: 'Martel', serif;
	font-weight: 800;
	line-height: 36pt;
}
